/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

// フッター固定
 #wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }
 footer {
   margin-top: auto;
}
// エラー時
.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}
// ヘッダー カラー
.bg-grey {
  background-color: #DDDDDD;
}
.bg-blue {
  background-color: #D7EEFF;
}
// カードワンポイント
.bt-blue {
  border-top: solid 5px #D7EEFF
}
.bl-blue {
  border-left: solid 5px #D7EEFF;
}
